<div class="content">

  <form [formGroup]="form" (change)="onChange()">
    <label for="quantityInput">Quantidade</label>
    <input id="quantityInput" type="number" formControlName="quantidade">
  </form>

  <h3>5- {{cinco}}g</h3>
  <h3>6- {{seis}}g</h3>
  <h3>7- {{sete}}g</h3>
  <h3>8- {{oito}}g</h3>
  <h3>9- {{nove}}g</h3>
  <h3>10- {{dez}}g</h3>
  <h3>11- {{onze}}g</h3>
  <h3>12- {{doze}}g</h3>
  <h3>13- {{treze}}g</h3>
</div>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Welcome</span>
</div>

<router-outlet></router-outlet>
