<div class="content">
  <div class="toolbar" role="banner">
    <span>Opa!</span>
  </div>

  <form [formGroup]="form">
    <label for="quantityInput">Quantidade</label>
    <input id="quantityInput" type="number" formControlName="quantidade">
  </form>

  <div *ngFor="let entry of mealQuantityMap | keyvalue">
    <h3>{{entry.key}}- {{entry.value}}g</h3>
  </div>

  <div *ngIf="invalidInput">
    Quantidade invalida
  </div>
</div>

<!--outlet-->
<!--<router-outlet></router-outlet>-->
<!--out let-->


<div>
  <app-my-counter></app-my-counter>
  <app-my-counter></app-my-counter>
  <app-my-counter></app-my-counter>
</div>
